
graphs/20200312_chtFutureItaly.jpg
graphs/20190312_chtFutureNSW.jpg
graphs/20200312_chtFutureItalyEarly.jpg
graphs/20200312_chtFutureNSWEarly.jpg
graphs/20200313_chtFutureItalyEarly.jpg
graphs/20200313_chtFutureNSWEarly.jpg
graphs/20200313_chtFutureUSEarly.jpg
graphs/20200313_chtFutureAll.jpg
graphs/20200315_chtFutureAllCrop.jpg
graphs/20200320_chtFutureAllAU.jpg
graphs/Thumbs.db
